<!DOCTYPE html>
<html>
<head>
  <title>Findmeanime</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
    <h1>Logged in</h1>
    <p><%= link_to 'Sign out', signout_path %></p>
<% else %>
    <%= link_to 'Sign in', '/signet/google/auth' %>
<% end %>

<%= yield %>

</body>
</html>
